---
// this should really be prerendered but when I'm adding vocab, that's annowing
export const prerender = false; // this needs to be live

import "../../styles/global.css";

import { readFileSync } from "node:fs";
import { dependencies, type WithDistance } from "../../ebieki";

import Descendant from "../../components/Descendant.astro";

import { User } from "../../components/User";
import type { KanjiDic2 } from "../../interfaces/kanjidic";
import { MemoryBar } from "../../components/MemoryBar";
import { Notes } from "../../components/Notes";
import { getVocab } from "../../dictionary/getVocab";

const ebieki = await getVocab();
const kanjiToEbieki: Record<string, WithDistance | undefined> =
  Object.fromEntries(ebieki.map((x) => [x.card.kanji, x]));

// we're prerendering this for now
// export async function getStaticPaths() {
//   const ee = await getVocab();
//   return ee.map((x) => ({ params: { vocab: x.card.kanji } }));
// }

const { vocab: kanji = "unknown" } = Astro.params;
const ee = kanjiToEbieki[kanji];
if (!ee) throw new Error("unknown ebieki?");
const { card, glossStr, glossObj, closest } = ee;
const defs =
  "id" in glossObj
    ? glossObj.sense.map((sense) => sense.gloss.map((g) => g.text).join("; "))
    : [glossStr];

const { kanjiToRadicals, radicalToKanjis } = dependencies;
const kanjiBreakdownsAvailable = kanji
  .split("")
  .filter((x) => x in kanjiToRadicals);
const kanjidic: KanjiDic2 = JSON.parse(
  readFileSync("data/kanjidic.json", "utf8")
);

const closestEbieki = closest.map((c) => ({
  ...c,
  ebieki: kanjiToEbieki[c.kanji],
}));
---

<meta charset="utf-8" />
<title>{kanji}</title>

<User client:idle />
<MemoryBar vocabKanji={kanji} client:idle />

<h1>ยง{card.level}.{card.lesson_position} {card.kanji}</h1>
<h2>{card.kanas.join(" ")}</h2>
<ol>
  {defs.map((def) => <li>{def}</li>)}
</ol>

<Notes vocabKanji={kanji} client:only />

<ol>
  {
    kanjiBreakdownsAvailable.map((k) => (
      <Descendant
        kanjidic={kanjidic}
        ee={ebieki}
        kanjiToEbieki={kanjiToEbieki}
        radicalToKanjis={radicalToKanjis}
        kanjiToRadicals={kanjiToRadicals}
        kanji={k}
      />
    ))
  }
</ol>

<p>Closest</p>
<ul>
  {
    closestEbieki.map((c) => (
      <li>
        <ruby>
          {c.ebieki?.card.kanji}
          <rt>{c.ebieki?.card.kanas[0]}</rt>
        </ruby>{" "}
        ({c.ebieki?.glossStr}) ({c.distance})
      </li>
    ))
  }
</ul>
