---
import "../../styles/global.css";

import { readFileSync } from "node:fs";
import { dependencies } from "../../ebieki";

import { User } from "../../components/User";
import type { KanjiDic2 } from "../../interfaces/kanjidic";
import { MemoryThumbnail } from "../../components/MemoryThumbnail";
import { getVocab } from "../../dictionary/getVocab";

export async function getStaticPaths() {
  const characters = Object.entries(dependencies.kanjiToRadicals).flatMap(
    ([kanji, radicals]) => [kanji].concat(radicals)
  );

  return characters.map((character) => ({ params: { character } }));
}

const ee = await getVocab();

const { character } = Astro.params;
const vocabs = ee.filter((x) => x.card.kanji.includes(character));

const { kanjiToRadicals, radicalToKanjis } = dependencies;

const kanjidic: KanjiDic2 = JSON.parse(
  readFileSync("data/kanjidic.json", "utf8")
);

const kanjidicChar = kanjidic.kanjidic2[character];
---

<meta charset="utf-8" />
<title>{character} (Character)</title>

<User client:load />

<h1>{character}</h1>
<h2>{kanjidicChar?.readings.join("・")}</h2>
<p>{kanjidicChar?.meanings.join(", ")}</p>

<p>Vocab</p>
<ul>
  {
    vocabs.map((v) => (
      <li>
        <MemoryThumbnail
          kanji={v.card.kanji}
          kana={v.card.kanas[0]}
          client:load
        />{" "}
        {v.glossStr}
      </li>
    ))
  }
</ul>

<p>Children</p>
<ul>
  {
    kanjiToRadicals[character]?.map((child) =>
      child === character ? null : <li>{child}</li>
    ) ?? "none"
  }
</ul>

<p>Parents</p>
<ul>
  {
    radicalToKanjis[character]?.map((parent) =>
      parent === character ? null : <li>{parent}</li>
    ) ?? "none"
  }
</ul>
